//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 09 11:19:15 2016
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

